.home-container {
    margin: 0;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurb {
    border-radius: 20px;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(10, 151, 118, 0.4), transparent);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.blurb > p {
    color: rgb(0, 0, 0, 0.75);
}

@media screen and (max-width: 575px) {
    .blurb {
        width: 60%;
    }
}


