.project-container {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.swiper {
    width: 50%;
}

.slide > img {
    height: 45%;
    width: 55%;
    border-radius: 25px;
}

.slide-2 > img {
    height: 45%;
    width: 55%;
    border-radius: 25px;
}

.slide {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    text-size-adjust: auto;
    background-image: linear-gradient(to right, rgb(10, 151, 118, 0.4), transparent);
    border-radius: 25px;
    color: rgb(0, 0, 0, 0.8);
}

.slide-2 {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    text-size-adjust: auto;
    background-image: linear-gradient(to right, transparent, rgb(10, 151, 118, 0.4));
    border-radius: 25px;
    color: rgb(0, 0, 0, 0.8);
}

.content {
    width: 85%;
}

.swiper-button-prev:after, .swiper-button-next:after {
    color: rgb(10, 151, 118)
}

.swiper-pagination-bullet-active {
    background: rgb(10, 151, 118);
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    opacity: 0;
}